<div class="container">
  <div class="card mt-2">
    <div class="card-header">
      <h3 class="card-title">Show Blog</h3>
      <div class="card-tools">
        <button class="btn btn-warning" type="button" name="button"><%= link_to 'Back', articles_path %></button>
      </div>
    </div>
    <div class="card-body">
      <h2>Title:   <%= @article.title %></h2>
      <h2>Body: <% @article.text %></h2>
      <div class="">
        <h2>Comments</h2>
          <% @article.comments.each do |comment| %>
            <p>
              <strong>Commenter:</strong>
              <%= comment.commenter %>
            </p>

            <p>
              <strong>Comment:</strong>
              <%= comment.body %>
            </p>
            <button class="btn btn-warning" type="button" name="button">

             <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' }
              %>

            </button>
          <% end %>
      </div>
      <div class="">
        <h3>Add a comment</h3>
        <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
          <p>
            <%= form.label :commenter %><br>
            <%= form.text_field :commenter %>
          </p>
          <p>
            <%= form.label :body %><br>
            <%= form.text_area :body %>
          </p>
          <p>
            <%= form.submit %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
